@font-face {
    font-family: 'AvenirLightOblique';
    src: url('../fonts/AvenirLightOblique.eot');
    src: url('../fonts/AvenirLightOblique.eot') format('embedded-opentype'),
    url('../fonts/AvenirLightOblique.woff2') format('woff2'),
    url('../fonts/AvenirLightOblique.woff') format('woff'),
    url('../fonts/AvenirLightOblique.ttf') format('truetype'),
    url('../fonts/AvenirLightOblique.svg#AvenirLightOblique') format('svg');
}
@font-face {
    font-family: 'AvenirBlack';
    src: url('../fonts/AvenirBlack.eot');
    src: url('../fonts/AvenirBlack.eot') format('embedded-opentype'),
    url('../fonts/AvenirBlack.woff2') format('woff2'),
    url('../fonts/AvenirBlack.woff') format('woff'),
    url('../fonts/AvenirBlack.ttf') format('truetype'),
    url('../fonts/AvenirBlack.svg#AvenirBlack') format('svg');
}
@font-face {
    font-family: 'AvenirHeavy';
    src: url('../fonts/AvenirHeavy.eot');
    src: url('../fonts/AvenirHeavy.eot') format('embedded-opentype'),
    url('../fonts/AvenirHeavy.woff2') format('woff2'),
    url('../fonts/AvenirHeavy.woff') format('woff'),
    url('../fonts/AvenirHeavy.ttf') format('truetype'),
    url('../fonts/AvenirHeavy.svg#AvenirHeavy') format('svg');
}
@font-face {
    font-family: 'AvenirLight';
    src: url('../fonts/AvenirLight.eot');
    src: url('../fonts/AvenirLight.eot') format('embedded-opentype'),
    url('../fonts/AvenirLight.woff2') format('woff2'),
    url('../fonts/AvenirLight.woff') format('woff'),
    url('../fonts/AvenirLight.ttf') format('truetype'),
    url('../fonts/AvenirLight.svg#AvenirLight') format('svg');
}
