$black: #000000
$white: #ffffff
$color1: #323232
$color2: #99ae73
$color3: #efefef
$color4: #cbcbcb
$color5: #7fc443
$color6: #8d8d8d
$color7: #e9e9e9
$color8: #FFC800

$font16: 16px

@mixin prefix($property, $value)
  -webkit-#{$property}: #{$value}
  -khtml-#{$property}: #{$value}
  -moz-#{$property}: #{$value}
  -ms-#{$property}: #{$value}
  -o-#{$property}: #{$value}
  #{$property}: #{$value}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@import "fonts.css"
body
  font-family: 'AvenirBlack'
  font-size: $font16
  min-width: 1170px

.font300
  font-family: 'AvenirLight'

.font300i
  font-family: 'AvenirLightOblique'
  font-style: italic

.font-i
  font-style: italic

.font700
  font-family: 'AvenirHeavy'




.color1
  color: $color6

.color2
  color: #FFC800


.marg-bot-60
  margin-bottom: 60px

.marg-right-80
  margin-right: 80px

.font-51
  font-size: 45px

/* +++++++++++++++++++++++++++++++++++++HEADER++++++++++++++++++++++++++++++++++++++*/
.header
  overflow: hidden
  padding: 24px 0 19px



.btn1
  border: 3px solid #99ae73
  padding: 9px 9px
  background: transparent
  color: $color1
  position: relative
  @include prefix(border-radius, 10px)
  @include prefix(transition, all ease 0.3s)

  &:before
    background: $color5
    content: ''
    position: absolute
    z-index: -1

  &:after
    background: $color5
    content: ''
    position: absolute
    z-index: -1
    @include prefix(transition, all ease 0.3s)
    height: 0
    left: 50%
    top: 50%
    width: 0

  &:hover
    color: $white
    border: 3px solid $color5

    &:after
      height: 100%
      left: 0
      top: 0
      width: 100%
      @include prefix(border-radius, 6px)

  img
    position: relative
    top: -2px
    left: -3px


/* +++++++++++++++++++++++++++++++++++++ARTICLE 1++++++++++++++++++++++++++++++++++++++*/
.article1
  background: $color3
  padding: 45px 0 81px
  position: relative

  .content-bg
    position: absolute
    left: 0
    right: 0
    top: 0
    background: url(../img/bg.jpg) center 0 no-repeat fixed
    @include prefix(background-size, 120%)
    height: 515px
    width: 100%

  .transparent-box
    width: 100%
    height: 80px
    background: rgba(255, 255, 255, 0.50)

    div
      width: 25%
      height: 100%
      float: left
      @include prefix(filter, grayscale(100%))

    .magazine1
      background: url("../img/magazine1.png") no-repeat center
      @include prefix(background-size, 90%)

    .magazine2
      background: url("../img/magazine2.png") no-repeat center
      @include prefix(background-size, 55%)

    .magazine3
      background: url("../img/magazine3.png") no-repeat center
      @include prefix(background-size, 80%)

    .magazine4
      background: url("../img/magazine4.png") no-repeat center
      @include prefix(background-size, 65%)


  .form
    margin-top: 30px
    background: $white
    width: 100%
    padding: 20px 0 52px

    .input
      width: 79%
      margin: 28px auto 30px
      height: 50px
      line-height: 50px
      border: 1px solid $color4
      padding: 0 20px
      webkit-transition: all 0.2s ease-in
      -khtml-transition: all 0.2s ease-in
      -moz-transition: all 0.2s ease-in
      -ms-transition: all 0.2s ease-in
      -o-transition: all 0.2s ease-in
      transition: all 0.2s ease-in



.submit1
  position: relative
  background: $color5
  border: none
  color: $white
  text-align: center
  width: 50%
  height: 60px
  line-height: 60px
  display: inline-block

  &:hover
    background: $color8

  &:active
    outline: 0
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)


.select-box
  margin: 28px auto 30px
  height: 50px

.select-hidden
  display: none
  visibility: hidden
  padding-right: 10px

.select
  cursor: pointer
  display: inline-block
  position: relative
  font-size: 16px
  color: $black
  width: 79%
  height: 100%

.select-styled
  border: 1px solid $color4
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: $white
  height: 50px
  line-height: 50px
  @include prefix(transition, all 0.2s ease-in)

  &:after
    content: ""
    width: 0
    height: 0
    border: 7px solid
    border-color: $black transparent transparent transparent
    position: absolute
    top: 21px
    right: 15px

  &:hover
    background-color: darken($white, 2)

  &:active, &.active
    background-color: darken($white, 5)
    &:after
      top: 13px
      border-color: transparent transparent $black transparent


.select-options
  display: none
  position: absolute
  top: 100%
  right: 0
  left: 0
  z-index: 999
  margin: 0
  padding: 0
  list-style: none
  background-color: darken($white, 5)
  li
    margin: 0
    padding: 12px 0
    text-indent: 15px
    border-top: 1px solid darken($white, 10)
    @include prefix(transition, all 0.15s ease-in)
    &:hover
      color: $white
      background: $color5

    &[rel="hide"]
      display: none

/* +++++++++++++++++++++++++++++++++++++ARTICLE 2++++++++++++++++++++++++++++++++++++++*/
.article2

  .article2-item
    text-align: center

    img
      margin-bottom: 34px


.cocontest-user-title, .cocontest-title, .article2-title
  margin-bottom: 80px

.article2-title
  margin-bottom: 76px
  margin-top: 32px

.hr
  margin: 80px 0
  width: 100%
  border-top: 3px solid $color7


.cocontest-item, .article2-item, .cocontest-user-item
  overflow: hidden


/* +++++++++++++++++++++++++++++++++++++ARTICLE 3++++++++++++++++++++++++++++++++++++++*/
.article3

  .hr
    margin: 48px 0 23px


.cocontest-item-text1
  padding-top: 95px
  margin-bottom: 200px

.cocontest-item-text2
  padding-top: 65px
  padding-left: 154px
  margin-bottom: 168px


.cocontest-item-text3
  padding-top: 90px
  padding-left: 26px

/* +++++++++++++++++++++++++++++++++++++ARTICLE 4++++++++++++++++++++++++++++++++++++++*/
.article4

  .hr
    margin: 94px 0 50px

  .cocontest-user-title
    margin-bottom: 111px

  .cocontest-user-item
    h2
      line-height: 22px
      margin-top: 13px

.article4

  .submit2
    @extend .submit1
    display: block
    width: 650px
    height: 90px
    margin: 150px auto
    line-height: 90px
/* +++++++++++++++++++++++++++++++++++++MEDIA++++++++++++++++++++++++++++++++++++++*/
@media screen and (min-width: 1400px)
  .container
    width: 1350px

  .font-51
    font-size: 51px

@media screen and (max-width: 1399px)
  .font-35
    font-size: 32px

  .cocontest-item-text2
    padding-top: 48px
    padding-left: 54px


@media screen and (max-width: 1199px)
  body
    min-width: 300px

  .container
    width: 100%

  .col-xs-6 img
    width: 100%
    height: auto
    display: block

  .m-box-none
    display: none

  .m-box
    width: 80%
    margin: 0 auto
    float: none

  .article1 .content-bg
    @include prefix(background-size, cover)

@media screen and (max-width: 990px)

  .logo, .phone
    display: block
    text-align: center
    float: none !important

  .logo
    margin-bottom: 10px

  .font-51
    font-size: 32px

  .font-25
    font-size: 20px

  .font-22
    font-size: 18px

  .font-24
    font-size: 19px

  .font-28
    font-size: 21px


  .cocontest-item-text1
    padding-top: 45px
    margin-bottom: 100px

  .cocontest-item-text2
    padding-top: 15px
    margin-bottom: 80px

  .cocontest-item-text3
    padding-top: 14px

  .cocontest-item, .article2-item, .cocontest-user-item
    overflow: hidden
    float: none
    display: block
    text-align: center
    width: 100%
    margin-bottom: 40px

  .article4 .submit2
    display: block
    width: 80%
    height: 90px
    margin: 150px auto
    line-height: 90px

  .article4 .hr
    margin: 40px 0 50px

@media screen and (max-width: 750px)
  .m-box
    width: 95%

  .font-51
    font-size: 26px

  .logo
    margin-bottom: 15px

  .btn1
    margin-top: 15px

  .select, .article1 .form .input
    width: 90%

  .submit1
    width: 70%

  .cocontest-item .col-xs-6
    width: 100%
    display: block
    float: none
    text-align: center

  .cocontest-item-text2
    margin-bottom: 80px
    padding: 15px 0 0 0

  .cocontest-item-text3
    padding: 30px 0 0 0

  .article4 .submit2
    width: 98%

@media screen and (max-width: 550px)
  .article1 .transparent-box div
    width: 50%
    height: 80px

  .article1 .transparent-box
    width: 100%
    height: auto
    overflow: hidden

  .font-25
    font-size: 17px

  .font-22
    font-size: 15px

  .font-23
    font-size: 20px

  .font-24
    font-size: 17px

  .font-31
    font-size: 27px

  .font-35
    font-size: 27px

  .font-42
    font-size: 23px

  .cocontest-item .col-xs-6
    padding: 0

  .submit1, .article4 .submit2
    width: 90%

  .article4 .submit2
    width: 95%
    height: 60px
    line-height: 60px

//------------------------------------------------------------------------------------
.btn-none
  pointer-events: none
  opacity: 0.5

.check-error
  -webkit-box-shadow: 0 0 5px 0 #FF0000
  box-shadow: 0 0 5px 0 #FF0000




















