$black: #000000
$white: #ffffff
$color1: #323232
$color2: #99ae73
$color3: #efefef
$color4: #cbcbcb
$color5: #7fc443
$color6: #8d8d8d
$color7: #e9e9e9
$color8: #FFC800
$color9: #b9b9b9

$font16: 16px

@mixin prefix($property, $value)
  -webkit-#{$property}: #{$value}
  -khtml-#{$property}: #{$value}
  -moz-#{$property}: #{$value}
  -ms-#{$property}: #{$value}
  -o-#{$property}: #{$value}
  #{$property}: #{$value}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@import "fonts.css"
body
  font-family: 'AvenirBlack'
  font-size: $font16
  min-width: 1170px

.font300
  font-family: 'AvenirLight'

.font300i
  font-family: 'AvenirLightOblique'
  font-style: italic

.font-i
  font-style: italic

.font700
  font-family: 'AvenirHeavy'




.color1
  color: $color6

.color2
  color: #FFC800

.color3
  color: $color4

.color4
  color: #575757



.marg-bot-60
  margin-bottom: 60px

.marg-right-80
  margin-right: 80px

.font-51
  font-size: 45px

/* +++++++++++++++++++++++++++++++++++++LOGIN BOX++++++++++++++++++++++++++++++++++++++*/
.login-box
  height: 100%
  overflow: hidden

.login-left
  width: 55%
  height: 100%
  display: inline-block
  background: url(../img/logon-bg.jpg) center no-repeat
  @include prefix(background-size, cover)
  position: relative

.login-right
  width: 44%
  height: 100%
  display: inline-block
  color: $black
  position: relative

.login-left-text
  line-height: 48px
  color: $black
  font-size: 40px
  @extend .font300

.login-left-box
  background: rgba(255, 255, 255, .83)
  width: 92%
  position: absolute
  left: 50%
  top: 50%
  margin: -225px 0 0 -46%
  padding: 22px 22px 22px 22px

.login-right-box
  position: absolute
  left: 50%
  top: 50%
  width: 68%
  margin: -216px 0 0 -34%

.login
  text-align: center
  margin-bottom: 26px
  img
    width: 70%

.login-form-input
  width: 100%
  height: 48px
  color: $color4
  border: 1px solid $color9
  line-height: 48px
  margin-bottom: 20px
  padding: 0 20px
  @extend .font300

.login-form-submit
  height: 50px
  width: 100%
  line-height: 50px
  @extend .font700
  text-align: center
  color: $white
  font-size: 30px
  background: $color5
  margin-bottom: 15px
  border: none
  &:hover
    background: $color8
  &:active
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)

.login-right-footer
  position: absolute
  left: 0
  right: 0
  bottom: 10px
  text-align: center
  @extend .font300

#sidr-menu
  position: absolute
  right: 1%
  top: 1%
  display: none

#sidr .login-right
  width: 100%
  text-align: left
  display: none

@media screen and (max-width: 1170px)
  body
    min-width: 300px

@media screen and (max-width: 1055px)
  .login-left-text
    line-height: 38px
    font-size: 31px

@media screen and (max-width: 965px)
  .font-20
    font-size: 18px

  .login-left-text
    line-height: 36px
    font-size: 29px

  .font-30
    font-size: 23px

  .login-form-submit
    font-size: 22px

  .login-right-box
    width: 80%
    margin: -216px 0 0 -40%

@media screen and (max-width: 790px)
  #sidr-menu
    display: block

  #sidr .login-right
    display: block

  .login-right
    display: none

  #sidr .login-right
    display: block

  .login-left
    width: 100%

@media screen and (max-width: 500px)
  .login-left-box
    width: 100%
    left: 0
    margin: -225px 0 0 0
    padding: 10px

@media screen and (max-width: 400px)
  .login-left-text
    line-height: 33px
    font-size: 23px

  .font-30
    font-size: 20px


//============================================================================
.btn-none
  pointer-events: none
  opacity: 0.5

.check-error
  -webkit-box-shadow: 0 0 5px 0 #FF0000
  box-shadow: 0 0 5px 0 #FF0000
