/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@import url(fonts.css);
body {
  font-family: "AvenirBlack";
  font-size: 16px;
  min-width: 1170px; }

.font300, .login-left-text, .login-form-input, .login-right-footer {
  font-family: "AvenirLight"; }

.font300i {
  font-family: "AvenirLightOblique";
  font-style: italic; }

.font-i {
  font-style: italic; }

.font700, .login-form-submit {
  font-family: "AvenirHeavy"; }

.color1 {
  color: #8d8d8d; }

.color2 {
  color: #FFC800; }

.color3 {
  color: #cbcbcb; }

.color4 {
  color: #575757; }

.marg-bot-60 {
  margin-bottom: 60px; }

.marg-right-80 {
  margin-right: 80px; }

.font-51 {
  font-size: 45px; }

/* +++++++++++++++++++++++++++++++++++++LOGIN BOX++++++++++++++++++++++++++++++++++++++ */
.login-box {
  height: 100%;
  overflow: hidden; }

.login-left {
  width: 55%;
  height: 100%;
  display: inline-block;
  background: url(../img/logon-bg.jpg) center no-repeat;
  -webkit-background-size: cover;
  -khtml-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; }

.login-right {
  width: 44%;
  height: 100%;
  display: inline-block;
  color: #000000;
  position: relative; }

.login-left-text {
  line-height: 48px;
  color: #000000;
  font-size: 40px; }

.login-left-box {
  background: rgba(255, 255, 255, 0.83);
  width: 92%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -225px 0 0 -46%;
  padding: 22px 22px 22px 22px; }

.login-right-box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 68%;
  margin: -216px 0 0 -34%; }

.login {
  text-align: center;
  margin-bottom: 26px; }
  .login img {
    width: 70%; }

.login-form-input {
  width: 100%;
  height: 48px;
  color: #cbcbcb;
  border: 1px solid #b9b9b9;
  line-height: 48px;
  margin-bottom: 20px;
  padding: 0 20px; }

.login-form-submit {
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  background: #7fc443;
  margin-bottom: 15px;
  border: none; }
  .login-form-submit:hover {
    background: #FFC800; }
  .login-form-submit:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.login-right-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center; }

#sidr-menu {
  position: absolute;
  right: 1%;
  top: 1%;
  display: none; }

#sidr .login-right {
  width: 100%;
  text-align: left;
  display: none; }

@media screen and (max-width: 1170px) {
  body {
    min-width: 300px; } }
@media screen and (max-width: 1055px) {
  .login-left-text {
    line-height: 38px;
    font-size: 31px; } }
@media screen and (max-width: 965px) {
  .font-20 {
    font-size: 18px; }

  .login-left-text {
    line-height: 36px;
    font-size: 29px; }

  .font-30 {
    font-size: 23px; }

  .login-form-submit {
    font-size: 22px; }

  .login-right-box {
    width: 80%;
    margin: -216px 0 0 -40%; } }
@media screen and (max-width: 790px) {
  #sidr-menu {
    display: block; }

  #sidr .login-right {
    display: block; }

  .login-right {
    display: none; }

  #sidr .login-right {
    display: block; }

  .login-left {
    width: 100%; } }
@media screen and (max-width: 500px) {
  .login-left-box {
    width: 100%;
    left: 0;
    margin: -225px 0 0 0;
    padding: 10px; } }
@media screen and (max-width: 400px) {
  .login-left-text {
    line-height: 33px;
    font-size: 23px; }

  .font-30 {
    font-size: 20px; } }
.btn-none {
  pointer-events: none;
  opacity: 0.5; }

.check-error {
  -webkit-box-shadow: 0 0 5px 0 #FF0000;
  box-shadow: 0 0 5px 0 #FF0000; }

/*# sourceMappingURL=style.css.map */
